.header {
  &__end {
    display: flex;
    gap: 14px;
  }
  &__bell {
    color: rgb(99, 115, 129);
    font-size: 40px;
    padding: 5px;
    border: 1px solid rgb(99, 115, 129);
    border-radius: 40px;
  }
  &__end__role {
    position: relative;
  }
  &__number {
    position: absolute;
    top: -4px;
    right: -2px;
    width: 20px;
    color: #fff;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  &__role {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    &__name {
      color: rgb(28, 37, 46);
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0%;
      text-align: left;
      color: #000;
      padding-bottom: 6px;
    }
    p {
      color: rgb(99, 115, 129);
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0%;
      text-align: left;
    }
  }
}
